h3 {
    margin: 10px;
    font-size: 30px;
}
.parent {
    margin: 10px;
    padding: 12px;
    cursor: pointer;
  }
  
  .child { 
    margin: 10px;
    padding: 10px;
    cursor: pointer;
   }

   .subchild {
    margin: 10px;
    padding: 8px;
    cursor: pointer;
   }

  .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
  
  .down {
    border-top: 5px solid black;
  }
  